@import './base.css';

#app {
  max-width: 1280px;
  place-items: center;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.map-container {
  width: 100vw;
  height: 600px;
}


.centered-container {
  display: flex;
  justify-content: center; /* Centers horizontally */
  text-align: center;
  align-items: center; /* Centers vertically */
  margin: 5px;
}

.left-list {
  display: flex;
  justify-content: left; /* Centers horizontally */
  text-align: left;
}

.button-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  /* Add more button-like styles as needed */
}

  .button-link:hover {
    background-color: #0056b3;
  }

.btn-selected {
  background-color: green;
}

.btn-notselected {
  background-color: gray;
}
